version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: pg_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    image: namduong0606/golang-portal:latest
    container_name: go_app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres
      DB_USER: admin
      DB_PASSWORD: admin123
      DB_NAME: mydb
    depends_on:
      - postgres
    restart: always

volumes:
  pgdata:
